<% # Clients of this partial must supply the following variable:
   # f %>

<%= f.fields_for :questions do |q| %>
  <div class="field">
    <%= q.label :content %><br />
    <%= q.text_area :content %>
  </div>
  <div class="field">
    <%= q.label :credit %><br />
    <%= q.text_field :credit %>
  </div>
  <%= q.link_to_remove "Remove question" %>
<% end %>
<%= f.link_to_add "Add question", :questions %>
