<%= page_heading 'My Exercise Lists' %>

<div class='list-of-lists'>
<% @lists.each do |list| %>
  <div class='list-of-lists-entry'>
    <%= link_to 'Delete', list, class: 'hover btn-sm btn-primary', method: :delete, data: { confirm: "Are you sure you want to delete #{list.name}?" } %>
    <%= link_to list.name, list %>
    &nbsp;&nbsp;
    <span class='badge'><%= list.exercises.count %></span>
    
  </div>
<% end %>
</div>

<%= button_to 'New List', new_list_path, class: 'btn' %>

<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.list-of-lists-entry').hover(
        function() {
          $(this).find('.hover').show();
        }, 
        function() {
          $(this).find('.hover').hide();
        }
      );
    });
  </script>
<% end %>



