<p>
  <%= @list.name %>
</p>

<p>
  <b>Readers:</b>
  <ul>
    <% @list.reader_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Editors:</b>
  <ul>
    <% @list.editor_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Publishers:</b>
  <ul>
    <% @list.publisher_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Owners:</b>
  <ul>
    <% @list.owner_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<% if @list.can_be_updated_by?(current_user) || user_is_admin? %>
<%= link_to 'Edit', edit_list_path(@list) %> |
<% end %>
<%= link_to 'Back', lists_path %>
