<% can_update = @list.can_be_updated_by?(current_user) %>

<%= page_heading @list.name %>

<%= render :partial => 'list_exercises/index', :locals => {:list_exercises => @list.list_exercises} %>

<br/>

<% if @list.can_be_edited_by?(current_user) || user_is_admin? %>
<%= link_to 'New Draft Exercise', new_exercise_path(:list_id => @list.id) %> |
<%= link_to 'Add Published Exercise', new_list_list_exercise_path(@list) %>
<% end %>

<br/><br/>

<p>
  <b><%= @list.owner_user_group.name %></b> <% if can_update %>(<%= link_to 'Change', @list.owner_user_group %>)<% end %>
  <ul>
    <% @list.owner_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b><%= @list.publisher_user_group.name %></b> <% if can_update %>(<%= link_to 'Change', @list.publisher_user_group %>)<% end %>
  <ul>
    <% @list.publisher_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b><%= @list.editor_user_group.name %></b> <% if can_update %>(<%= link_to 'Change', @list.editor_user_group %>)<% end %>
  <ul>
    <% @list.editor_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b><%= @list.reader_user_group.name %></b> <% if can_update %>(<%= link_to 'Change', @list.reader_user_group %>)<% end %>
  <ul>
    <% @list.reader_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<br/>

<% if @list.can_be_updated_by?(current_user) || user_is_admin? %>
<%= link_to 'Edit List', edit_list_path(@list) %> |
<% end %>
<%= link_to 'Back', lists_path %>
