<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<p>
  <b>Readers:</b>
  <ul>
    <% @list.reader_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Editors:</b>
  <ul>
    <% @list.editor_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Publishers:</b>
  <ul>
    <% @list.publisher_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Owners:</b>
  <ul>
    <% @list.owner_user_group.users.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
