<h5>Manage</h5>
<ul class="normal">
  <li><%= link_to "Users", admin_users_url %></li>
  <li><%= link_to "Administrators", admin_administrators_url %></li>

  <br><br>

  <li><%= link_to "Applications", oauth_applications_url %></li>

  <br><br>

  <li><%= link_to "Delegations", admin_delegations_url %></li>

  <br><br>

  <li><%= link_to "Publications", admin_publications_url %></li>

  <br><br>

  <li><%= link_to "Site Terms", fine_print.root_url %></li>
  <li><%= link_to "Content Licenses", admin_licenses_url %></li>

  <li><%= link_to "Invalid Exercises", invalid_admin_exercises_url %></li>
</ul>
