<%# Clients of this partial must supply the following variables:
    exercises
    list %>

<table>
  <tr>
    <th></th>
    <th>Exercise</th>
    <th>Quick View</th>
    <th>Status</th>
    <th>Has solutions?</th>
    <th></th>
  </tr>
<% exercises.each do |exercise| %>
  <tr>
    <td></td>
    <td><%= link_to exercise.name, exercise %></td>
    <td><%= quickview_link(exercise) %></td>
    <td><%= exercise.is_published? ? 'Published' : 'Draft' %></td>
    <td><%= yn(!exercise.solutions.empty?) %></td>
    <td><% if list.has_exercise?(exercise) %>
          <%= 'Already in list' %>
        <% else %>
          <%= form_tag(list_list_exercises_path(list)) do |f| %>
            <%= hidden_field_tag 'exercise_id', exercise.id %>
            <%= submit_tag 'Add exercise' %>
          <% end %>
        <% end %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'exercises/quickview_dialog' %>


