<%= form_for(@list_exercise) do |f| %>
  <% if @list_exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_exercise.errors.count, "error") %> prohibited this list_exercise from being saved:</h2>

      <ul>
      <% @list_exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :list_id %><br />
    <%= f.number_field :list_id %>
  </div>
  <div class="field">
    <%= f.label :exercise_id %><br />
    <%= f.number_field :exercise_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
