<h1>Listing list_exercises</h1>

<table>
  <tr>
    <th>List</th>
    <th>Exercise</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list_exercises.each do |list_exercise| %>
  <tr>
    <td><%= list_exercise.list_id %></td>
    <td><%= list_exercise.exercise_id %></td>
    <td><%= link_to 'Show', list_exercise %></td>
    <td><%= link_to 'Edit', edit_list_exercise_path(list_exercise) %></td>
    <td><%= link_to 'Destroy', list_exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List exercise', new_list_exercise_path %>
