<%= form_for(@matching_answer) do |f| %>
  <% if @matching_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matching_answer.errors.count, "error") %> prohibited this matching_answer from being saved:</h2>

      <ul>
      <% @matching_answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :content_html %><br />
    <%= f.text_field :content_html %>
  </div>
  <div class="field">
    <%= f.label :match_number %><br />
    <%= f.number_field :match_number %>
  </div>
  <div class="field">
    <%= f.label :right_column %><br />
    <%= f.check_box :right_column %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :credit %><br />
    <%= f.text_field :credit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
