<h1>Listing matching_answers</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Content</th>
    <th>Content html</th>
    <th>Match number</th>
    <th>Right column</th>
    <th>Order</th>
    <th>Credit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matching_answers.each do |matching_answer| %>
  <tr>
    <td><%= matching_answer.question_id %></td>
    <td><%= matching_answer.content %></td>
    <td><%= matching_answer.content_html %></td>
    <td><%= matching_answer.match_number %></td>
    <td><%= matching_answer.right_column %></td>
    <td><%= matching_answer.order %></td>
    <td><%= matching_answer.credit %></td>
    <td><%= link_to 'Show', matching_answer %></td>
    <td><%= link_to 'Edit', edit_matching_answer_path(matching_answer) %></td>
    <td><%= link_to 'Destroy', matching_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Matching answer', new_matching_answer_path %>
