<% # Clients of this partial must supply the following variable:
   # f %>

<div class="questions_form">
  <%= f.fields_for :questions do |q| %>
    <div class="question_form">
      <p>
        <b><%= q.object.id ? "Question #{q.object.position}" : 'New question' %> (Suggested credit: <%= q.number_field :credit, :size => 3, :maxlength => 3, :class => 'inline' %>)</b>
      </p>
      <div class="field">
        <%= q.text_area :content %>
      </div>

      <%= render :partial => 'exercises/questions/true_or_false_answers/form', :locals => {:q => q} %>
      <%= render :partial => 'exercises/questions/multiple_choice_answers/form', :locals => {:q => q} %>
      <%= render :partial => 'exercises/questions/matching_answers/form', :locals => {:q => q} %>
      <%= render :partial => 'exercises/questions/fill_in_the_blank_answers/form', :locals => {:q => q} %>
      <%= render :partial => 'exercises/questions/short_answers/form', :locals => {:q => q} %>
      <%= render :partial => 'exercises/questions/free_response_answers/form', :locals => {:q => q} %>

      <%= q.link_to_remove "Remove this question", confirm: 'Are you sure you wish to remove this question and all associated content?' %><br/><br/>
    </div>
  <% end %>

  <%= f.link_to_add "Add question", :questions %>
</div>

<br/>
