<% # Clients of this partial must supply the following variable:
   # question %>

<%= sortable_content_tag(question, 'div', 'question') do %>
  <%= sortable_handle %>
  <p>
    <b>Question <%= sortable_position %></b>
    <%= render :partial => 'question_dependency_pairs/index', :locals => {:question_dependency_pairs => question.independent_question_pairs} %>

    <% if question.can_be_updated_by?(current_user) || user_is_admin? %>
      <%= link_to 'Add dependency', new_question_question_dependency_pair_path(question) %>

      <br/><br/>
    <% end %>
    <% if !question.credit.nil? && question.credit > 0 %>(<%= question.credit %> pt):<% end %>
  </p>

  <%= question.content_html.html_safe %>

  <%= render :partial => 'exercises/questions/true_or_false_answers/index', :locals => {:question => question} %>
  <%= render :partial => 'exercises/questions/multiple_choice_answers/index', :locals => {:question => question} %>
  <%= render :partial => 'exercises/questions/matching_answers/index', :locals => {:question => question} %>
  <%= render :partial => 'exercises/questions/fill_in_the_blank_answers/index', :locals => {:question => question} %>
  <%= render :partial => 'exercises/questions/short_answers/index', :locals => {:question => question} %>
  <%= render :partial => 'exercises/questions/free_response_answers/index', :locals => {:question => question} %>

  <br/>
<% end %>
