<% # Clients of this partial must supply the following variables:
   # q %>

<div class="dependencies_form">
  <p>
    <b>Question dependencies</b>
  </p>
  <%= q.fields_for :independent_question_pairs do |a| %>
    <div class="dependency_form">
      <div class="field">
        <%= a.label :independent_question, 'Dependency:' %><br />
        <%= a.select :independent_question, options_for_select([]) %>
      </div>
      <div class="field">
        <%= a.label :kind %><br />
        <%= a.number_field :kind %>
      </div>

      <%= a.link_to_remove "Remove this dependency" %><br/><br/>
    </div>
  <% end %>

  <%= q.link_to_add "Add dependency", :independent_question_pairs %>
</div>

<br/>
