<h1>You are a member of the following groups:</h1>

<table>
  <tr>
    <th>Name |</th>
    <th>Manager?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.user_group_members.each do |user_group_member| %>
  <tr>
    <td><%= user_group_member.user_group.name %></td>
    <td><%= tf_to_yn(user_group_member.is_manager) %></td>
    <td><%= link_to 'Show', user_group_member.user_group %> |</td>
    <td><%= link_to 'Edit', edit_user_group_path(user_group_member.user_group) %> |</td>
    <td><%= link_to 'Leave group', user_group_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user group', new_user_group_path %>
