<%= page_heading 'User groups' %>

<% unless user_is_admin? %>
  <p>You are a member of the following groups:</p>
<% end %>

<table>
  <tr>
    <th>Group</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @user_groups.each do |user_group| %>
  <% user_group_user = user_group.user_group_user_for(current_user) %>
  <tr>
    <td><%= link_to user_group.full_name, user_group %></td>
    <td><%= (user_group_user.is_manager ? 'Manager' : 'Member') unless user_group_user.nil? %></td>
    <td><%= user_group_user.nil? ? \
              (link_to('Delete', user_group, method: :delete, data: { confirm: "Are you sure you want to delete #{user_group.full_name}?" }) if user_group.container.nil?) : \
              link_to('Leave group', user_group_user, method: :delete, data: { confirm: "Are you sure you want to leave #{user_group.full_name}?" }) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user group', new_user_group_path %>
