<p>
  <b>Group:</b>
  <%= @user_group.name %>
</p>

<%= render :partial => 'user_group_users/index', :locals => {:user_group_users => @user_group.user_group_users} %>

<br />

<%= link_to 'Add user', new_user_group_user_group_user_path(@user_group) %> |
<%= link_to 'Edit group', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
