<%= page_heading @user_group.full_name %>

<% unless @user_group.container.nil? %>
<p>This group belongs to <%= name_link(@user_group.container) %></p>
<% end %>

<%= render :partial => 'user_group_users/index', :locals => {:user_group_users => @user_group.user_group_users,
                                                             :hide_status => !@user_group.container.nil?} %>

<br />

<% if @user_group.can_be_updated_by?(current_user) || user_is_admin? %>
<%= link_to 'Add user', new_user_group_user_group_user_path(@user_group) %> |
<%= link_to 'Rename group', edit_user_group_path(@user_group) %> |
<% end %>
<%= link_to 'Back', @user_group.container.nil? ? user_groups_path : @user_group.container %>
