<%# Clients of this partial must supply the following variables:
    exercises
    derived_exercise %>

<table>
  <tr>
    <th></th>
    <th>Exercise</th>
    <th>Quick View</th>
    <th>Has solutions?</th>
    <th></th>
  </tr>
<% exercises.each do |exercise| %>
  <tr>
    <td></td>
    <td><%= link_to exercise.name, exercise %></td>
    <td><%= quickview_link(exercise) %></td>
    <td><%= yn(!exercise.solutions.empty?) %></td>
    <td><% if derived_exercise.has_source?(exercise) %>
          <%= 'Already in sources list' %>
        <% else %>
          <%= form_tag(exercise_derivations_path(derived_exercise)) do |f| %>
            <%= hidden_field_tag 'source_publishable_id', exercise.id %>
            <%= submit_tag 'Add source exercise' %>
          <% end %>
        <% end %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'exercises/quickview_dialog' %>


