<% parts = ['content/answers', 'tags', 'author/copyright holder', 'ID/number'] %>

<h1>Add source solution</h1>

<%= form_tag(new_solution_derivation_path(@solution), :method => :get) do %>
  <%= hidden_field_tag :per_page, @per_page %>
  <%= hidden_field_tag 'solution_type', 'published solutions' %>
  
  <table width="100%">
    <tr>
      <td><%= label_tag 'Search for' %>&nbsp;</td>
      <td><%= text_field_tag 'query', @query, :style => "width: 90%;" %>&nbsp;</td>

      <td>&nbsp;<%= label_tag 'in' %>&nbsp;</td>
      <td><%= select_tag 'part', options_for_select(parts, @part), :style => "width: 90%;" %></td>

      <td rowspan="3" style="vertical-align:middle;"><%= submit_tag 'Search' %></td>
    </tr>
    <tr>
      <td colspan="4"><hr style="float:left; width: 97%; color: lightgray; background-color: lightgray;" /></td>
    </tr>
    <tr>
      <td colspan="3"><%= label_tag 'Restrict to published solutions' %>&nbsp;</td>
    </tr>
  </table>
<% end %>

<div id="solutions">
  <%= render :partial => 'solutions_list', 
             :locals => { :solutions => @solutions,
                          :derived_solution => @solution } %>
</div>

<%= will_paginate @solutions unless @solutions.nil? %>

<br/>

<%= link_to 'Back', @solution %>
