<%= page_heading "Welcome to #{SITE_NAME}" %>

<div class="not-full-width">
  <p>To activate your account on <%= SITE_NAME %>, please review and accept the following site terms by checking the box below and then clicking "Register".</p>

<% contracts = [FinePrint.get_contract(:general_terms_of_use),
                FinePrint.get_contract(:privacy_policy)]
print contracts

   contract_links = contracts.collect do |contract|
     link_to contract.title, show_terms_path(contract), remote: true
   end %>

  <ul class="normal" style="margin-top:20px; margin-bottom: 20px">
    <% contract_links.each do |contract_link| %>
      <li><%= contract_link %></li>
    <% end %>
  </ul>

  <%= lev_form_for :register, url: users_register_path, method: :put do |f| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :i_agree %> I have read the terms listed above and I agree to be bound by their terms
      </label>
    </div>
    
    <%= f.hidden_field :contract_1_id, value: contracts[0].id %>
    <%= f.hidden_field :contract_2_id, value: contracts[1].id %>
    <%= f.submit "Register", id: "register_submit" %>
  <% end %>

  <% content_for :javascript do %>
    <script type="text/javascript">
      Exercises.Ui.enableOnChecked('#register_submit', '#register_i_agree');
    </script>
  <% end %>

</div>
