<%= page_heading 'Forgot your password?' %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.submit "Send me reset password instructions", :class => submit_classes %></div>
<% end %>

<%= render "devise/shared/links" %>
