<%= form_for(@exercise_collaborator) do |f| %>
  <% if @exercise_collaborator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_collaborator.errors.count, "error") %> prohibited this exercise_collaborator from being saved:</h2>

      <ul>
      <% @exercise_collaborator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :exercise_id %><br />
    <%= f.number_field :exercise_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :is_author %><br />
    <%= f.check_box :is_author %>
  </div>
  <div class="field">
    <%= f.label :is_copyright_holder %><br />
    <%= f.check_box :is_copyright_holder %>
  </div>
  <div class="field">
    <%= f.label :exercise_collaborator_requests_count %><br />
    <%= f.number_field :exercise_collaborator_requests_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
