<%= page_heading "Collaborators for #{@publishable.class.name} #{@publishable.name}" %>

<div class="collaborators">
  <% if @collaborators.empty? %>
    No collaborators
  <% else %>
    <table>
      <tr>
        <th>User</th>
        <th>Author?</th>
        <th>Copyright Holder?</th>
        <th></th>
      </tr>

    <% @collaborators.each do |collaborator| %>
      <tr>
        <td><%= collaborator.user.name %></td>
        <td><% if collaborator.can_be_updated_by?(current_user) || user_is_admin? %>
              <%= collaborator.toggle_author_request ? "Change requested - #{yn(!collaborator.is_author)}" :
                  yn(collaborator.is_author) %> (<%= link_to 'Toggle', toggle_author_collaborator_path(collaborator), method: :put, data: {
                    confirm: "Are you sure you want to #{collaborator.is_author ? 'un' : ''}set #{collaborator.user.name} as an author?"
                  } %>)</td>
            <% end %>
        <td><% if collaborator.can_be_updated_by?(current_user) || user_is_admin? %>
              <%= collaborator.toggle_copyright_holder_request ? "Change requested - #{yn(!collaborator.is_copyright_holder)}" :
                  yn(collaborator.is_copyright_holder) %> (<%= link_to 'Toggle', toggle_copyright_holder_collaborator_path(collaborator), method: :put, data: {
                    confirm: "Are you sure you want to #{collaborator.is_copyright_holder ? 'un' : ''}set #{collaborator.user.name} as a copyright holder?"
                  } %>)</td>
            <% end %>
        <td><% if collaborator.can_be_destroyed_by?(current_user) || user_is_admin? %>
              <%= link_to 'Remove', collaborator, method: :delete,
                    data: { confirm: "Are you sure you want to remove #{collaborator.user.name} as a collaborator?" } %>
            <% end %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>

<br/>

<%= link_to 'Add collaborator', new_polymorphic_path([@publishable, :collaborator]) %> |
<%= link_to 'Back', @publishable %>
