<% # Clients of this partial must supply the following variable:
   # current_path
   # Additionally, they can override the following variables:
   parts ||= ['content/answers', 'tags', 'author/copyright holder', 'ID/number']
   exercise_types ||= ['all exercises', 'published exercises', 'draft exercises', 'exercises in my lists'] if signed_in?
   exercise_types ||= ['all exercises', 'published exercises']
   answer_types ||= ['any answer types', 
                     'true or false answers', 
                     'multiple choice answers', 
                     'matching answers', 
                     'fill in the blank answers', 
                     'short answers', 
                     'free response answers']
   container ||= nil
   exclude_id ||= nil
   exclude_text ||= 'Cannot add'
   presence_check_method ||= ''
   already_present_text ||= 'Already present'
   form_action_path ||= nil
   hidden_field_name ||= 'exercise_id'
   submit_text ||= 'Add exercise' %>

<%= form_tag(current_path, :method => :get) do %>
  <%= hidden_field_tag :per_page, @per_page %>
  
  <table width="100%">
    <tr>
      <td><%= label_tag 'Search for' %></td>
      <td><%= text_field_tag 'query', @query, :style => "width: 90%;" %>&nbsp;</td>

      <td><%= label_tag 'in' %></td>
      <td><%= select_tag 'part', options_for_select(parts, @part), :style => "width: 90%;" %></td>

      <td rowspan="3" style="vertical-align:middle;"><%= submit_tag 'Search', class: 'm-btn blue' %></td>
    </tr>
    <tr>
      <td colspan="4"><hr style="float:left; width: 97%; color: lightgray; background-color: lightgray;" /></td>
    </tr>
    <tr>
      <td><%= label_tag 'Restrict to' %></td>
      <td><% if exercise_types.is_a? Array %>
            <%= select_tag 'exercise_type', options_for_select(exercise_types, @exercise_type), :style => "width: 90%;" %>
          <% else %>
            <%= label_tag exercise_types %>
            <%= hidden_field_tag 'exercise_type', exercise_types %>
          <% end %></td>

      <td><%= label_tag 'with' %></td>
      <td><% if answer_types.is_a? Array %>
            <%= select_tag 'answer_type', options_for_select(answer_types, @answer_type), :style => "width: 90%;" %>
          <% else %>
            <%= label_tag answer_types %>
            <%= hidden_field_tag 'answer_type', answer_types %>
          <% end %></td>
    </tr>
  </table>
<% end %>

<div id="exercises">
  <%= render :partial => 'shared/exercises_list', 
             :locals => { :exercises => @exercises,
                          :container => container,
                          :exclude_id => exclude_id,
                          :exclude_text => exclude_text,
                          :presence_check_method => presence_check_method,
                          :already_present_text => already_present_text,
                          :form_action_path => form_action_path,
                          :hidden_field_name => hidden_field_name,
                          :submit_text => submit_text } %>
</div>

<%= will_paginate @exercises unless @exercises.empty? %>
