<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div <%= block.section_id_attr %> <%= block.section_class_attr %> >

  <% if block.show_heading? %>
    <div <%= block.heading_class_attr %> >
      <%= block.heading %>
    </div>
  <% end %>

  <div <%= block.body_class_attr %> >
    <%= block.captured_block %>
  </div>

</div>

