<% # Clients of this partial must supply the following variable:
   # solutions
   # Additionally, they can override the following variables:
   container ||= nil
   exclude_id ||= nil
   exclude_text ||= 'Cannot add'
   presence_check_method ||= ''
   already_present_text ||= 'Already present'
   form_action_path ||= nil
   hidden_field_name ||= 'solution_id'
   submit_text ||= 'Add solution' %>

<table>
  <tr>
    <th></th>
    <th>Solution</th>
    <th>Quick View</th>
    <th>Status</th>
    <th></th>
  </tr>
<% solutions.each do |solution| %>
  <tr>
    <td></td>
    <td><%= link_to solution.name, solution %></td>
    <td><%= quickview_link(solution) %></td>
    <td><%= solution.is_published? ? (solution.is_embargoed? ? 'Embargoed' : 'Published') : 'Draft' %></td>
    <td><% unless container.nil? %>
          <% if solution.id == exclude_id %>
            <%= exclude_text %>
          <% elsif !presence_check_method.blank? && container.send(presence_check_method, solution) %>
            <%= already_present_text %>
          <% else %>
            <%= form_tag(form_action_path) do %>
              <%= hidden_field_tag hidden_field_name, solution.id %>
              <%= submit_tag submit_text %>
            <% end %>
          <% end %>
        <% end %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'shared/solution_quickview_dialog' %>


