<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<table <%= block.table_id_attr %> <%= block.table_class_attr %> >
  <% if block.show_caption? %>
    <caption <%= block.caption_class_attr %> >
      <%= block.title %>
    </caption>
  <% end %>

  <tr <%= block.heading_row_class_attr %> >
    <% block.column_names.each do |column_name| %>
      <th <%= block.heading_cell_class_attr %> >
        <%= column_name %>
      </th>
    <% end %>
  </tr>

  <% block.row_blocks.each do |row_block| %>
    <%= row_block %>
  <% end %>
</table>
