<% # Clients of this partial must supply the following variable:
   # current_path
   # Additionally, they can override the following variables:
   types ||= ['Name', 'Username', 'Email']
   container ||= nil
   exclude_id ||= nil
   exclude_text ||= 'Cannot add'
   presence_check_method ||= ''
   already_present_text ||= 'Already present'
   form_action_path ||= nil
   hidden_field_name ||= 'user_id'
   submit_text ||= 'Add user' %>

<%= form_tag(current_path, :method => :get) do %>
  <table width="100%" align="center">
    <tr>
      <td><%= label_tag 'Search For:' %></td>
      <td><%= text_field_tag 'query', @query %></td>
      <td><%= label_tag 'in:' %></td>
      <td><%= select_tag 'type', options_for_select(types, @type) %></td>
      <td>
        <%= submit_tag 'Search', :class => submit_classes %>
      </td>
    </tr>
  </table>
<% end %>

<div id="users">
  <%= render :partial => 'shared/users_list',
             :locals => { :users => @users,
                          :container => container,
                          :exclude_id => exclude_id,
                          :exclude_text => exclude_text,
                          :presence_check_method => presence_check_method,
                          :already_present_text => already_present_text,
                          :form_action_path => form_action_path,
                          :hidden_field_name => hidden_field_name,
                          :submit_text => submit_text } %>
</div>

<%= will_paginate @users unless @users.nil? %>
