<%= form_for([@attachable, @attachment]) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @attachment.persisted? %>
  <div class="field">
    <%= f.label 'Asset' %>
    <%= f.file_field :asset %>
    <%= f.hidden_field :asset_cache %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :local_name %><br />
    <%= f.text_field :local_name %>
  </div>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_area :caption %>
  </div>
  <div class="field">
    <%= f.label :alt, 'Alt text' %><br />
    <%= f.text_area :alt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
