<h1>Listing user_profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Group member email</th>
    <th>Collaborator request email</th>
    <th>Announcement email</th>
    <th>Auto author subscribe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_profiles.each do |user_profile| %>
  <tr>
    <td><%= user_profile.user_id %></td>
    <td><%= user_profile.group_member_email %></td>
    <td><%= user_profile.collaborator_request_email %></td>
    <td><%= user_profile.announcement_email %></td>
    <td><%= user_profile.auto_author_subscribe %></td>
    <td><%= link_to 'Show', user_profile %></td>
    <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
    <td><%= link_to 'Destroy', user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User profile', new_user_profile_path %>
