<%= page_heading 'Your profile' %>

<p>
  <b>User:</b>
  <%= @user_profile.user_id %>
</p>

<p>
  <b>Group member email:</b>
  <%= @user_profile.group_member_email %>
</p>

<p>
  <b>Collaborator request email:</b>
  <%= @user_profile.collaborator_request_email %>
</p>

<p>
  <b>Announcement email:</b>
  <%= @user_profile.announcement_email %>
</p>

<p>
  <b>Auto author subscribe:</b>
  <%= @user_profile.auto_author_subscribe %>
</p>


<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', root_path %>
