<h1>Listing required_libraries</h1>

<table>
  <thead>
    <tr>
      <th>Library</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @required_libraries.each do |required_library| %>
      <tr>
        <td><%= required_library.library %></td>
        <td><%= link_to 'Show', required_library %></td>
        <td><%= link_to 'Edit', edit_required_library_path(required_library) %></td>
        <td><%= link_to 'Destroy', required_library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Required library', new_required_library_path %>
