<%= form_for([@question, @question_dependency_pair]) do |f| %>
  <% if @question_dependency_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_dependency_pair.errors.count, "error") %> prohibited this dependency from being saved:</h2>

      <ul>
      <% @question_dependency_pair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    This question <%= f.select :kind, options_for_select([['requires', 0], ['is supported by', 1]]) %> question
    <%= f.select :independent_question_id, options_for_select(@question.exercise.questions.reject{|q| q.id == @question.id}.collect{|q| [q.position, q.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit :class => submit_classes %>
  </div>
<% end %>
