<h1>Listing question_dependency_pairs</h1>

<table>
  <tr>
    <th>Independent question</th>
    <th>Dependent question</th>
    <th>Kind</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_dependency_pairs.each do |question_dependency_pair| %>
  <tr>
    <td><%= question_dependency_pair.independent_question_id %></td>
    <td><%= question_dependency_pair.dependent_question_id %></td>
    <td><%= question_dependency_pair.kind %></td>
    <td><%= link_to 'Show', question_dependency_pair %></td>
    <td><%= link_to 'Edit', edit_question_dependency_pair_path(question_dependency_pair) %></td>
    <td><%= link_to 'Destroy', question_dependency_pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question dependency pair', new_question_dependency_pair_path %>
