<p id="notice"><%= notice %></p>

<p>
  <b>Independent question:</b>
  <%= @question_dependency_pair.independent_question_id %>
</p>

<p>
  <b>Dependent question:</b>
  <%= @question_dependency_pair.dependent_question_id %>
</p>

<p>
  <b>Kind:</b>
  <%= @question_dependency_pair.kind %>
</p>


<%= link_to 'Edit', edit_question_dependency_pair_path(@question_dependency_pair) %> |
<%= link_to 'Back', question_dependency_pairs_path %>
