<%= form_for([:admin, @license]) do |f| %>
  <% if @license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@license.errors.count, "error") %> prohibited this license from being saved:</h2>

      <ul>
      <% @license.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :partial_filename %><br />
    <%= f.text_field :partial_filename %>
  </div>
  <div class="field">
    <%= f.label :allow_exercises %><br />
    <%= f.check_box :allow_exercises %>
  </div>
  <div class="field">
    <%= f.label :allow_solutions %><br />
    <%= f.check_box :allow_solutions %>
  </div>
  <div class="actions">
    <%= f.submit :class => submit_classes %>
  </div>
<% end %>
