<%= page_heading 'Licenses' %>

<table class="std-list-1">
  <tr>
    <th>Name</th>
    <th>Short name</th>
    <th>Url</th>
    <th>Partial filename</th>
    <th>Exercises allowed?</th>
    <th>Solutions allowed?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @licenses.each do |license| %>
  <tr>
    <td><%= license.name %></td>
    <td><%= license.short_name %></td>
    <td><%= license.url %></td>
    <td><%= license.partial_filename %></td>
    <td><%= yn(license.allow_exercises) %></td>
    <td><%= yn(license.allow_solutions) %></td>
    <td><%= link_to 'Show', admin_license_path(license) %></td>
    <td><%= link_to('Delete', admin_license_path(license), method: :delete, data: { confirm: "Are you sure you want to delete #{license.name}?" }) if license.can_be_destroyed_by?(current_user) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New License', new_admin_license_path %>
