<%= page_heading @license.name %>

<p>
  <b>Short name:</b>
  <%= @license.short_name %>
</p>

<p>
  <b>Url:</b>
  <%= @license.url %>
</p>

<p>
  <b>Partial filename:</b>
  <%= @license.partial_filename %>
</p>

<p>
  <b>Exercises allowed?</b>
  <%= yn(@license.allow_exercises) %>
</p>

<p>
  <b>Solutions allowed?</b>
  <%= yn(@license.allow_solutions) %>
</p>

<%= link_to 'Edit', edit_admin_license_path(@license) %> |
<%= link_to 'Back', admin_licenses_path %>
