<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>
  <b>Name:</b>
  <%= @library.name %>
</p>

<p>
  <b>Prerequiste:</b>
  <%= osu.tf_to_yn(@library.is_prerequisite) %>
</p>

<p>
  <b>Summary:</b>
  <%= @library.summary %>
</p>

<p><b>Versions:</b></p>

<% versions = @library.library_versions %>
<% if versions.empty? %>
  <p style="margin-left:20px">None</p>
<% else %>
  <ul>
    <% versions.each do |version| %>
      <li><%= link_to version.version, [:admin, version] %>
    <% end %>
  </ul>
<% end %>

<% @include_jquery = true %>

<%= link_to 'Edit', edit_admin_library_path(@library) %> |
<%= link_to 'New Version', new_admin_library_library_version_path(@library) %> |
<%= link_to 'Destroy', [:admin, @library], :method => :delete, :confirm => "Are you sure?" %> |
<%= link_to 'List', admin_libraries_path %>
