<h1>Listing exercise_collaborator_requests</h1>

<table>
  <tr>
    <th>Exercise collaborator</th>
    <th>Requester</th>
    <th>Toggle is author</th>
    <th>Toggle is copyright holder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercise_collaborator_requests.each do |exercise_collaborator_request| %>
  <tr>
    <td><%= exercise_collaborator_request.exercise_collaborator_id %></td>
    <td><%= exercise_collaborator_request.requester_id %></td>
    <td><%= exercise_collaborator_request.toggle_is_author %></td>
    <td><%= exercise_collaborator_request.toggle_is_copyright_holder %></td>
    <td><%= link_to 'Show', exercise_collaborator_request %></td>
    <td><%= link_to 'Edit', edit_exercise_collaborator_request_path(exercise_collaborator_request) %></td>
    <td><%= link_to 'Destroy', exercise_collaborator_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise collaborator request', new_exercise_collaborator_request_path %>
