<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attachment_file_name %><br />
    <%= f.text_field :attachment_file_name %>
  </div>
  <div class="field">
    <%= f.label :attachment_content_type %><br />
    <%= f.text_field :attachment_content_type %>
  </div>
  <div class="field">
    <%= f.label :attachment_file_size %><br />
    <%= f.number_field :attachment_file_size %>
  </div>
  <div class="field">
    <%= f.label :attachment_uploaded_at %><br />
    <%= f.datetime_select :attachment_uploaded_at %>
  </div>
  <div class="field">
    <%= f.label :uploader_id %><br />
    <%= f.number_field :uploader_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
