<% # Clients of this partial must supply the following variable:
   # q %>

<div class="answers_form">
  <p>
    <b>Multiple choice</b>
  </p>
  <%= q.fields_for :multiple_choice_answers do |a| %>
    <div class="answer_form">
      <p>
        <b><%= q.object.id ? "Multiple choice #{q.object.position}" : 'New multiple choice' %>
        - Credit*: <%= q.number_field :credit, :size => 3, :maxlength => 3, :class => 'inline' %></b>
      </p>

      <div class="field">
        <%= a.label :content %><br />
        <%= a.text_area :content, :class => "markItUp" %>
      </div>

      <%= a.link_to_remove "Remove this multiple choice", confirm: 'Are you sure you wish to remove this multiple choice and all associated content?' %><br/><br/>
    </div>
  <% end %>

  <%= q.link_to_add "Add multiple choice", :multiple_choice_answers %>
</div>

<br/>
