<%= form_for(@website_configuration) do |f| %>
  <% if @website_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website_configuration.errors.count, "error") %> prohibited this website_configuration from being saved:</h2>

      <ul>
      <% @website_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :value_type %><br />
    <%= f.number_field :value_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
