<% # Clients of this partial must supply the following variable:
   # q %>

<div class="answers_form">
  <p>
    <b>Fill in the blank</b>
  </p>
  <%= q.fields_for :fill_in_the_blank_answers do |a| %>
    <div class="answer_form">
      <p>
        <b><%= q.object.id ? "Fill in the blank answer #{q.object.position}" : 'New fill in the blank answer' %>
        (Suggested credit: <%= q.number_field :credit, :size => 3, :maxlength => 3, :class => 'inline' %>)</b>
      </p>

      <div class="field inline-block">
        <%= a.label :pre_content, 'Content before the blank:' %><br/>
        <%= a.text_area :pre_content, :class => "markItUp" %>
      </div>
      <div class="field inline-block">
        <%= a.label :blank_answer, 'Acceptable answers for blank:' %><br/>
        <%= a.text_area :blank_answer %>
      </div>
      <div class="field inline-block">
        <%= a.label :post_content, 'Content after the blank:' %><br/>
        <%= a.text_area :post_content, :class => "markItUp" %>
      </div>

      <div class="clear">
        <%= a.link_to_remove "Remove this blank", confirm: 'Are you sure you wish to remove this blank and all associated content?' %><br/><br/>
      </div>
  <% end %>

  <%= q.link_to_add "Add fill in the blank", :fill_in_the_blank_answers %>
</div>

<br/>
