<%= form_for(@user_group_member) do |f| %>
  <% if @user_group_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_group_member.errors.count, "error") %> prohibited this user_group_member from being saved:</h2>

      <ul>
      <% @user_group_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_group_id %><br />
    <%= f.number_field :user_group_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :is_group_manager %><br />
    <%= f.check_box :is_group_manager %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
