<h1>Listing exercise_collaborators</h1>

<table>
  <tr>
    <th>User</th>
    <th>Exercise</th>
    <th>Order</th>
    <th>Is author</th>
    <th>Is copyright holder</th>
    <th>Exercise collaborator requests count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercise_collaborators.each do |exercise_collaborator| %>
  <tr>
    <td><%= exercise_collaborator.user_id %></td>
    <td><%= exercise_collaborator.exercise_id %></td>
    <td><%= exercise_collaborator.order %></td>
    <td><%= exercise_collaborator.is_author %></td>
    <td><%= exercise_collaborator.is_copyright_holder %></td>
    <td><%= exercise_collaborator.exercise_collaborator_requests_count %></td>
    <td><%= link_to 'Show', exercise_collaborator %></td>
    <td><%= link_to 'Edit', edit_exercise_collaborator_path(exercise_collaborator) %></td>
    <td><%= link_to 'Destroy', exercise_collaborator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise collaborator', new_exercise_collaborator_path %>
