<%= form_for(@class_license) do |f| %>
  <% if @class_license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_license.errors.count, "error") %> prohibited this class_license from being saved:</h2>

      <ul>
      <% @class_license.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :license_id %><br>
    <%= f.text_field :license_id %>
  </div>
  <div class="field">
    <%= f.label :class_name %><br>
    <%= f.text_field :class_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
