<h1>Listing class_licenses</h1>

<table>
  <thead>
    <tr>
      <th>License</th>
      <th>Class name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_licenses.each do |class_license| %>
      <tr>
        <td><%= class_license.license %></td>
        <td><%= class_license.class_name %></td>
        <td><%= link_to 'Show', class_license %></td>
        <td><%= link_to 'Edit', edit_class_license_path(class_license) %></td>
        <td><%= link_to 'Destroy', class_license, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class license', new_class_license_path %>
