<p id="notice"><%= notice %></p>

<p>
  <strong>License:</strong>
  <%= @class_license.license %>
</p>

<p>
  <strong>Class name:</strong>
  <%= @class_license.class_name %>
</p>

<%= link_to 'Edit', edit_class_license_path(@class_license) %> |
<%= link_to 'Back', class_licenses_path %>
