<% # Clients of this partial must supply the following variable:
   # q %>

<div class="answers_form">
  <p>
    <b>Matching pairs</b>
  </p>

  <%= q.fields_for :matching_answers do |a| %>
    <div class="answer_form">
      <p>
        <b><%= q.object.id ? "Matching pair #{q.object.position}" : 'New matching pair' %>
        (Suggested credit: <%= q.number_field :credit, :size => 3, :maxlength => 3, :class => 'inline' %>)</b>
      </p>

      <div class="field inline-block">
        <%= a.label :left_content, 'Left half' %><br/>
        <%= a.text_area :left_content, :class => "markItUp" %>
      </div>

      <div class="inline-block" style="width: 100px;">
        <hr style="width: 100%; height: 3px; color: darkgray; background-color: darkgray;" />
      </div>

      <div class="field inline-block">
        <%= a.label :right_content, 'Right half' %><br/>
        <%= a.text_area :right_content, :class => "markItUp" %>
      </div>

      <div class="clear">
        <%= a.link_to_remove "Remove this matching pair", confirm: 'Are you sure you wish to remove this matching pair and all associated content?' %><br/><br/>
      </div>
    </div>
  <% end %>

  <%= q.link_to_add "Add matching pair", :matching_answers %>
</div>

<br/>
