<% # Clients of this partial must supply the following variable:
   # q %>

<div class="answers_form">
  <p>
    <b>Free response</b>
  </p>
  <%= q.fields_for :free_response_answers do |a| %>
    <div class="answer_form">
      <p>
        <b><%= q.object.id ? "Free response #{q.object.position}" : 'New free response' %>
        (Suggested credit: <%= q.number_field :credit, :size => 3, :maxlength => 3, :class => 'inline' %>)</b>
      </p>

      <div class="field">
        <%= a.label :content %><br />
        <%= a.text_area :content, :class => "markItUp" %>
      </div>
      <div class="field">
        <%= a.label :free_response %><br />
        <%= a.text_area :free_response, :class => "markItUp" %>
      </div>
      <div class="field">
        <%= a.label :can_be_sketched, 'Can be sketched?', :class => 'float-left' %>
        <%= a.check_box :can_be_sketched, :class => 'inline' %>
      </div>

      <%= a.link_to_remove "Remove this free response", confirm: 'Are you sure you wish to remove this free response and all associated content?' %><br/><br/>
    </div>
  <% end %>

  <%= q.link_to_add "Add free response", :free_response_answers %>
</div>

<br/>
