<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= page_heading 'User list' %>

<table class="list" width="100%">
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Admin?</th>
    <th>Confirmed?</th>
    <th>Disabled?</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.last_name %></td>
    <td><%= user.first_name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= yn(user.is_admin?) %></td>
    <td><%= yn(true) %></td>
    <td><%= yn(user.is_disabled?) %></td>
    <td><%= link_to 'Show', admin_user_path(user) %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
  </tr>
<% end %>
</table>

<% if !@users.nil? %>
  <%= will_paginate @users %>
<% end %>
