<div class="openstax-assessment" data-uuid="<%= exercise.uuid %>">

  <% if exercise.title %><h1><%= exercise.title %></h1><% end %>

  <% if exercise.stimulus.present? %><h4 class="stimulus"><%= nl2br exercise.stimulus %></h4><% end %>

  <% exercise.questions.each do |question| %>
    <div class="question">
      <% if question.stimulus.present? %><h5 class="stimulus"><%= nl2br question.stimulus %></h5><% end %>
      <% question.stems.each do |stem| %>
        <% if stem.content.present? %><h5 class="stem"><%= nl2br stem.content %></h5><% end %>
      <% end %>
      <ol class="answers" type="a">
        <% question.answers.each do |answer| %>
        <li class="answer">
          <div class="content"><%= nl2br answer.content %><% if answer.correcness == 1.0 %>✅<% end %></div>
          <% answer.stem_answers.each do|stem| %>
            <i class="feedback"><%= nl2br stem.feedback %></i>
          <% end %>
        </li>
        <% end %>
      </ol>
      <% question.collaborator_solutions.each do |solution| %>
      <div class="solution">
        <%= nl2br solution.content %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
