<%= form_for(@deputization) do |f| %>
  <% if @deputization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deputization.errors.count, "error") %> prohibited this deputization from being saved:</h2>

      <ul>
      <% @deputization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deputizer_id %><br />
    <%= f.number_field :deputizer_id %>
  </div>
  <div class="field">
    <%= f.label :deputy_id %><br />
    <%= f.number_field :deputy_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
