<h1>Listing deputizations</h1>

<table>
  <tr>
    <th>Deputizer</th>
    <th>Deputy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deputizations.each do |deputization| %>
  <tr>
    <td><%= deputization.deputizer_id %></td>
    <td><%= deputization.deputy_id %></td>
    <td><%= link_to 'Show', deputization %></td>
    <td><%= link_to 'Edit', edit_deputization_path(deputization) %></td>
    <td><%= link_to 'Destroy', deputization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deputization', new_deputization_path %>
