<p id="notice"><%= notice %></p>

<p>
  <b>Deputizer:</b>
  <%= @deputization.deputizer_id %>
</p>

<p>
  <b>Deputy:</b>
  <%= @deputization.deputy_id %>
</p>


<%= link_to 'Edit', edit_deputization_path(@deputization) %> |
<%= link_to 'Back', deputizations_path %>
