<%= nested_form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b><%= @exercise.id ? "Exercise e#{@exercise.number}v#{@exercise.version}" : 'New exercise' %></b>
  </p>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :credit %>
    <%= f.text_field :credit %>
  </div>

  <%= render :partial => 'exercises/questions/form', :locals => {:f => f} %>

  <div class="embargo_form">
    <div class="field">
      <%= f.label :embargoed_until %>
      <%= f.text_field :embargoed_until %>
    </div>
    <div class="field">
      <%= f.label :only_embargo_solutions, 'Only embargo solutions?' %>
      <%= f.check_box :only_embargo_solutions %>
    </div>
  </div>
  <% if @exercise.new_record? %>
  <% list_options = options_for_select(@lists.collect{|l| [l.name, l.id]}, @list_id) %>
  <div class="field">
    <%= label_tag :list_id, "Create on:" %>
    <%= select_tag :list_id, list_options %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
