<%= nested_form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b><%= @exercise.id ? "Exercise e#{@exercise.number}v#{@exercise.version}" : 'New exercise' %> (Suggested credit: <%= f.number_field :credit, :size => 3, :maxlength => 3, :class => 'inline' %>)</b>
  </p>

  <div class="field">
    <%= f.text_area :content, :class => "markItUp" %>
  </div>
  <div class="field">

  </div>

  <%= render :partial => 'exercises/questions/form', :locals => {:f => f} %>

  <div class="license">
    <%= f.label :license_id, 'License (effective when published):' %>
    <%= f.select :license_id, License.options_for(@exercise) %>
  </div>

  <div class="embargo">
    <div class="embargo_form">
      <table class="fields">
        <tr>
          <td><%= f.label :only_embargo_solutions, 'Embargo' %></td>
          <td><%= f.select :only_embargo_solutions, [['whole exercise', 0], ['solutions only', 1]] %></td>
        </tr>
        <tr>
          <td><%= f.label :embargo_days, 'for' %></td>
          <td><%= f.number_field :embargo_days, maxlength: 3, size: 3 %></td>
          <td>days after publication (0 - 180)</td>
        </tr>
      </table>
    </div>

    <%= link_to_function 'Show embargo options', 'window.Exercise.show_embargo_form();', class: 'embargo_link' %>

    <%= javascript_tag 'window.Exercise.hide_embargo_form();' unless @exercise.is_embargoed? %>
  </div>

  <br/>

  <% if @exercise.version > 1 %>
    <%= f.check_box :changes_solutions %>
    <%= f.label :changes_solutions,
          "This version changes the exercise's solutions. Do not reuse previous solutions." %>
  <% end %>

  <% if @exercise.new_record? %>
  <% list_options = options_for_select(@lists.collect{|l| [l.name, l.id]}, @list_id) %>
  <div class="field">
    <%= label_tag :list_id, "Create on:" %>
    <%= select_tag :list_id, list_options %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
