<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% # Clients of this partial must supply the following variable:
   # exercises %>

<table>
  <tr>
    <th>Exercise</th>
    <th>Quick View</th>
    <th>Status</th>
    <th>Has solutions?</th>
  </tr>
<% exercises.each do |exercise| %>
  <tr>
    <td><%= link_to "e#{exercise.number}v#{exercise.version}", exercise %></td>
    <td><%= quickview_link(exercise) %></td>
    <td><%= exercise.is_published? ? 'Published' : 'Draft' %></td>
    <td><%= tf_to_yn(!exercise.solutions.empty?) %></td>
  </tr>
<% end %>
</table>

<div id="quickview_dialog" style="display:none" title="Quick View"></div>

<% content_for :javascript do %>
   <%= javascript_tag do %>
      $("#quickview_dialog").dialog({ 
        autoOpen: false, 
        modal: true, 
        height:600, 
        width:600, 
        buttons: { "Close": function() { $(this).dialog("close"); }}
      });
   <% end %>
<% end %>
