<%= page_heading "Exercise #{@exercise.to_param}" %>

<%= @exercise.content_html.html_safe %>

<%= render :partial => 'exercises/questions/index', :locals => {:exercise => @exercise} %>

<br/>

<%= render :partial => 'collaborators/index', :locals => {:collaborators => @exercise.collaborators} %>

<br/>

<% if @exercise.can_be_updated_by?(current_user) || user_is_admin? %>
  <%= link_to 'Add collaborator', new_exercise_collaborator_path(@exercise) %>

  <br/><br/>
<% end %>

<p>
  <b>License:</b>
  <%= @exercise.license.nil? ? 'Not yet selected.' : @exercise.license.name %>
</p>

<p>
  <b>Embargo:</b>
  <%= @exercise.embargo_status %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', @exercise.is_published? ? exercises_path : @exercise.lists.first %>
