

<%= render 'show', exercise: @exercise %>








<% if false  %>

<% list_options = options_for_select(@lists.collect{|l| [l.name, l.id]}, @list_id) unless @lists.nil? %>

<%= page_heading "Exercise #{@exercise.name}" %>

<%= @exercise.content_html.html_safe %>

<%= render :partial => 'exercises/questions/index', :locals => {:exercise => @exercise} %>

<br/>

<p>
  <b>License:</b>
  <%= @exercise.license.name %>
</p>

<p>
  <b>Embargo:</b>
  <%= exercise_embargo_status(@exercise) %>
</p>

<% if @exercise.version > 1 %>
<p>This version <%= @exercise.changes_solutions ? 'changes' : 'does not change' %> the exercise's solutions.</p>
<% end %>

<% if @exercise.is_published? %>
<% if @exercise.new_version_can_be_created_by?(current_user) || user_is_admin? %>
<%= form_tag exercise_new_version_path(@exercise) do %>
  <b>New version:</b>
  <div class="field">
    <%= label_tag :list_id, 'Create in:' %>
    <%= select_tag :list_id, list_options %>
  </div>
  <div class="actions">
    <%= submit_tag 'Create new version', :class => submit_classes %>
  </div>
<% end %>
<% end %>

<% if @exercise.can_be_derived_by?(current_user) || user_is_admin? %>
<%= form_tag exercise_derive_path(@exercise) do %>
  <b>Create a derived exercise:</b>
  <div class="field">
    <%= label_tag :list_id, 'Create in:' %>
    <%= select_tag :list_id, list_options %>
  </div>
  <div class="actions">
    <%= submit_tag 'Create derivation', :class => submit_classes %>
  </div>
<% end %>
<% end %>
<% else %>
<p>This exercise has not been published yet.</p>
<% end %>

<b>Attachments:</b>
<%= render :partial => 'attachments/index', :locals => {:attachable => @exercise} %>

<br/><br/>

<%= link_to 'Solutions', exercise_solutions_path(@exercise) %> |

<% if @exercise.can_be_published_by?(current_user) || user_is_admin? %>
<%= link_to 'Publish', publication_agreement_publishables_path(:exercise_id => @exercise.id) %> |
<% end %>

<% if @exercise.can_be_updated_by?(current_user) || user_is_admin? %>
<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Manage collaborators', exercise_collaborators_path(@exercise) %> |
<%= link_to 'Manage sources', exercise_derivations_path(@exercise) %> |
<% end %>

<% if @exercise.can_be_destroyed_by?(current_user) || user_is_admin? %>
<%= link_to 'Delete', @exercise, method: :delete, data: {
      confirm: 'Are you sure you want to delete this exercise and all associated content?'
} %> |
<% end %>

<%= link_to 'Back', @exercise.is_published? ? exercises_path : @exercise.lists.first %>

<% end  %>