<%= form_for([@exercise, @solution]) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :content, 'Detailed Explanation' %><br />
    <%= f.text_area :content, :class => "markItUp" %>
  </div>

  <div class="license">
    <%= f.label :license_id, 'License (effective when published):' %>
    <%= f.select :license_id, License.options_for(@solution) %>
  </div>

  <div class="actions">
    <%= f.submit :class => submit_classes %>
  </div>
<% end %>

<%= render :partial => 'attachments/dialog', :locals => {:attachable => @solution} %>
