<% # Clients of this partial must supply the following variable:
   # solution %>

<% list_options = options_for_select(@lists.collect{|l| [l.name, l.id]}, @list_id) unless @lists.nil? %>

<p>
  <b>Solution <%= solution.name %></b>
</p>

<p>
  <b>Summary:</b>
  <%= solution.summary %>
</p>

<p>
  <b>Detailed Explanation:</b>
  <%= solution.content_html.html_safe %>
</p>

<% if solution.is_published? %>
<% if solution.new_version_can_be_created_by?(current_user) || user_is_admin? %>
<%= form_tag solution_new_version_path(solution) do %>
  <b>New version:</b>
  <div class="actions">
    <%= submit_tag 'Create new version', :class => submit_classes %>
  </div>
<% end %>
<% end %>

<% if solution.can_be_derived_by?(current_user) || user_is_admin? %>
<%= form_tag solution_derive_path(solution) do %>
  <b>Create a derived solution:</b>
  <div class="actions">
    <%= submit_tag 'Create derivation', :class => submit_classes %>
  </div>
<% end %>
<% end %>
<% else %>
<p>This solution has not been published yet.</p>
<% end %>


<b>Attachments:</b>
<%= render :partial => 'attachments/index', :locals => {:attachable => solution} %>

<br/><br/>

<% if solution.can_be_published_by?(current_user) || user_is_admin? %>
<%= link_to 'Publish', publication_agreement_publishables_path(:solution_id => solution.id) %> |
<% end %>

<% if solution.can_be_updated_by?(current_user) || user_is_admin? %>
<%= link_to 'Edit', edit_solution_path(solution) %> |
<%= link_to 'Manage collaborators', solution_collaborators_path(solution) %> |
<%= link_to 'Manage sources', solution_derivations_path(solution) %>
<% end %>

<% if solution.can_be_destroyed_by?(current_user) || user_is_admin? %>
| <%= link_to 'Delete', solution, method: :delete, data: {
      confirm: "Are you sure you want to delete #{solution.name}?"
    } %>
<% end %>

<br/>
