<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= page_heading @library_version.library.name + " v#{@library_version.version}" %>

<p>Deprecated? &nbsp;&nbsp;&nbsp; <%= osu.tf_to_yn(@library_version.deprecated) %></p>

<%= text_area_tag nil, @library_version.code, {:id => 'code'} %>


<% include_codemirror %>
<% activate_codemirror language: 'javascript', selector: '#code' %>


<br/>

<%= link_to 'Edit', edit_admin_library_version_path(@library_version) %> |
<%= link_to 'List', admin_library_path(@library_version.library) %> |
<%= link_to 'Destroy', [:admin, @library_version], :method => :delete, :confirm => 'Are you sure?' %>

