<div id="bottom-nav-frame">
  <div id="bottom-nav-content">

    <div id="bottom-nav-links">
<% if false %>
      <%= link_to "Terms of Use", main_app.terms_url %>
      <%= image_tag "links_dash.png" %>

      <%= link_to "Privacy Policy", main_app.privacy_url %>
      <%= image_tag "links_dash.png" %>

      <%= link_to "Publishing Agreement", main_app.publishing_url %>
      <%= image_tag "links_dash.png" %>

      <%= link_to "About", main_app.about_url %>
      <%= image_tag "links_dash.png" %>

      <%= link_to "Developers", main_app.developers_url %>
      <%= image_tag "links_dash.png" %>

      <%= link_to "Contact Us", main_app.contact_url %>
<% end %>
    </div>

  </div>
</div>
