<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<!DOCTYPE html>
<html>

  <head>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag     "application" %>
    <%= javascript_include_tag  "application" %>

    <% if content_for?(:javascript_includes) %>
      <%= yield :javascript_includes %>
    <% end %>

    <%= render 'layouts/application_mathjax' %>

  </head>

  <body>

    <%= render :partial => "layouts/application_js_hooks" %>

    <%= render "shared/upper_corner_console" %>

    <div id="application-container">

      <%= render :partial => "layouts/application_header" %>

      <%= render :partial => "layouts/application_body" %>

      <%= render :partial => "layouts/application_bottom_nav" %>

      <%= render :partial => "layouts/application_footer" %>

    </div>

  <%= yield :javascript %>

  </body>

</html>

