<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="application-body" <%= "class=#{@main_div_background_image}" if @main_div_background_image %>>

  <% show_account_bar = !@main_div_background_image %>

  <% @navitems ||= [] %>

  <div class="top_level_container">

  <% has_nav_content = content_for?(:right_column) || !@navitems.empty? || content_for?(:other_nav_content) %>

    <% if content_for?(:main) %>

      <%= yield(:page_heading) %>

      <div class="bar_topped_block">
        <div id="attention">
          <%= render 'shared/attention' %>
        </div>

        <%= yield(:main) %>
      </div>
      
    <% elsif @force_nav_bar || has_nav_content %>

      <%= yield(:page_heading) %>

      <div id="attention"><%= render 'shared/attention' %></div>

      <div style="clear:both"></div>
      <div id="column_container_2c">
        <div style="clear:both"></div>

        <div id="main_column_2c" class="column bar_topped_block">
          <%= yield(:important) %>
          <div style="clear:both"></div>
          <%= yield %>
        </div>

        <div id="right_column_2c" class="column <%= 'bar_topped_block' if has_nav_content %> test test_section right_nav">
          <%= yield(:right_column)%>

          <% @navitems.each do |navitem| %>
            <span style="display:block; padding-bottom: 4px"><%= navitem %></span>
          <% end %>

          <%= yield(:other_nav_content) %>
        </div>

        <div style="clear:both"></div>
      </div>
      <div style="clear:both"></div>

     <% else %>

       <%= yield(:page_heading) %>
       <%= yield(:important) %>

       <div style="clear:both"></div>

       <div style="clear:both"></div>

     <% end %>

  </div>
  
</div>


